/*
index场景
*/
.bgimg{
    position:fixed;
    top: 0;
    left: 0;
    width:100%;
    height:100%;
    min-width: 1000px;
    z-index:-10;
    zoom: 1;
    background-color: #fff;
    background: url(../jin.jpg) no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-position: center 0;
}
#div1{
	position: absolute;
	top: 100px;
	left: 300px;
	width:600px;
	height:400px;
}

#fire{
text-align: center;
margin: 40px auto;
font-family: "Comic Sans MS";
font-size: 30px;
color: white;
text-shadow: 0 0 20px #fefcc9, 10px -10px 30px #feec85, -20px -20px 40px #ffae34, 20px -40px 50px #ec760c, -20px -60px 60px #cd4606, 0 -80px 70px #973716, 10px -90px 80px #451b0e;

}

/*
main场景
*/

#ice{
text-align: center;
margin: 40px auto;
font-family: "Comic Sans MS";
font-size: 30px;
color: #AF40CD;
text-shadow: 0 0 20px #b420fe, 10px -10px 30px #6f5bfe, -20px -20px 40px #c15cff, 20px -40px 50px #6827ec, -20px -60px 60px #af40cd, 0 -80px 70px #4e0d97, 10px -90px 80px #2d0745;

}

#black{
text-align: center;
margin: 40px auto;
font-family: "Comic Sans MS";
font-size: 30px;
color: #000000;
text-shadow: 0 0 20px #b420fe, 10px -10px 30px #6f5bfe, -20px -20px 40px #c15cff, 20px -40px 50px #6827ec, -20px -60px 60px #af40cd, 0 -80px 70px #4e0d97, 10px -90px 80px #2d0745;
}
/*
pass场景
*/
#ice1{
text-align: center;
margin: 40px auto;
font-family: KaiTi;
font-size: 30px;
color: #AF40CD;
text-shadow: 0 0 20px #b420fe, 10px -10px 30px #6f5bfe, -20px -20px 40px #c15cff, 20px -40px 50px #6827ec, -20px -60px 60px #af40cd, 0 -80px 70px #4e0d97, 10px -90px 80px #2d0745;
}

#fire1{
text-align: center;
margin: 40px auto;
font-family: KaiTi;
font-size: 30px;
color: white;
text-shadow: 0 0 20px #fefcc9, 10px -10px 30px #feec85, -20px -20px 40px #ffae34, 20px -40px 50px #ec760c, -20px -60px 60px #cd4606, 0 -80px 70px #973716, 10px -90px 80px #451b0e;

}

/*
pass1场景
*/